@page "/"
@using Engine.Services
@inject IWorkerManager WorkerManager

<h3>Engine Dashboard</h3>

<p>Engine ID: @WorkerManager</p>

@if (WorkerManager.Workers.Count == 0)
{
    <p>Ingen workers forbundet.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Worker ID</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var worker in WorkerManager.Workers.Values)
        {
            <tr>
                <td>@worker.WorkerId</td>
                <td>

                    <button @onclick="() => StopWorker(worker.WorkerId)">Stop</button>

                    <button @onclick="() => StartWorker(worker.WorkerId)">Start</button>

                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    private void StartWorker(string workerId)
    {
        _ = WorkerManager.StartWorkerAsync(workerId);
    }

    private void StopWorker(string workerId)
    {
        _ = WorkerManager.StopWorkerAsync(workerId);
    }

}